<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SalesToolSuite" parallel="none">
  <test name="Test">
    <classes>
      <class name="SalesTool.SalesToolMavenGit.AppTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- SalesToolSuite -->
